@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100;300;400;500&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&display=swap');

:root {
   --brokenWhite: #EEEEEE;
  --grey:  #393E46;
  --accentColour: #00ADB5;
}

html{
  scroll-behavior: smooth;
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;  
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--brokenWhite); 
  color:var(--grey);
}
h1 {
    font-size: 3.5em;
  }
  
  h2 {
    font-size: 2.5em;
  }
  
  h3{
    font-size: 1.5em;    
  }

/* NAV BAR */
#navbar {
    background-color: var(--grey);
    color: var(--brokenWhite);
    display: flex;
    justify-content: space-between;
    align-items: center;    
    height: 6rem;    
}

.nav-logo > p {
    color: var(--accentColour);
    font-family: "Gajraj One", sans-serif;  
    font-size: 2rem;
    font-weight: 100;
    user-select: none;

}
#navbar > button {
    background-color: var(--grey);
    border: 2px solid var(--accentColour);
    color: var(--accentColour);
    padding: 0.8rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
.nav-links  {    
    list-style-type: none;
    display: flex;
    gap: 1rem;  
      
}
.nav-links li a {
    text-decoration: none;
    color: var(--brokenWhite);
}
/* -----------------MAIN----------- */
main {
    display:flex;
    width: 80%;
    margin: 3rem auto;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
main  h1 {
    width: 70%;
    margin: 0 0 2rem 0;
}
main h1 + button {
    background-color: var(--accentColour);
    color: var(--brokenWhite);
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    }
.hero-img {
        background-color: var(--accentColour);
        width: 60rem;
        height: 30rem;
}
.hero-subcontainer {
    display:flex;
    margin: 3rem 0;
    justify-content: space-evenly;
    width: 70%;
    gap: 4rem;
}
.hero-sub{
    flex-basis: 100%;
}
.hero-sub:first-of-type {
    /* background-color: red; */
}
/* ------------CARDS------------- */
.card-container {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin: 3em auto;   
    width: 85vw;
   
}
.card-container > * {
    flex: 1;
    padding: 2rem 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 0 auto;
    
}
.card {
    display: flex;
    flex-direction: column;
}
.card > * {
    margin: 0.5rem 0; 
}
.card > img {
    width: 6rem;
    align-self: center;
    margin: 0 auto;
}

/* SLIDE SHOW */
.container {
    height: 20rem;
    background-color: var(--grey);
    width: 85vw;
    margin: 3rem auto;
}
.container:last-of-type {
    background-color: var(--accentColour);
}

/* FOOTER */
footer {
    height: 10rem;
    background-color: var(--grey);
}