@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100;300;400;500&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');



:root {
   --brokenWhite: #EEEEEE;
  --grey:  #393E46;
  --accentColour: #00ADB5;
  --containerWidth: 70vw;
}

html{
  scroll-behavior: smooth;
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;  
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--brokenWhite); 
  color:var(--grey);
}
h1 {
    font-size: 3.5rem;
  }
  
  h2 {
    font-size: 2.6rem;
  }
  
  h3{
    font-size: 1.4rem;    
  }
  h2 {
    font-family: "Montserrat", sans-serif;
  }
  i {
    font-size: 1.7rem;
    margin: 0 0.5rem 0 0;   
  }
  p {
    font-size:1.2rem;
  }
/*------------ NAV BAR ----------*/
#navbar {
    background-color: var(--grey);
    color: var(--brokenWhite);
    display: flex;
    justify-content: space-between;
    align-items: center;    
    height: 6rem;    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nav-logo > p:first-of-type {
    color: var(--accentColour);
    font-family: "Gajraj One", sans-serif;  
    font-size: 1.8rem;
    user-select: none;
}
.nav-logo > p:last-of-type {
    color: var(--accentColour);
    font-family: 'Gruppo', sans-serif;
    font-size: 1.2rem;
    margin: -0.5rem 0;
    letter-spacing: 9.2px;
    user-select: none;


}
ul > button {
    background-color: var(--grey);
    border: 2px solid var(--accentColour);
    color: var(--accentColour);
    padding: 0.8rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
}
ul > button:hover {
    color: var(--brokenWhite);
    border: 2px solid var(--brokenWhite);
}
.nav-links  {    
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 2rem;  
      
}
.nav-links li a {
    text-decoration: none;
    color: var(--brokenWhite);
}
button a {
    color: var(--accentColour);
    text-decoration: none;
    transition: 0.5s;
}
button a:hover {
    color: var(--brokenWhite);   
}
#navbar > button:hover {
    color: var(--brokenWhite);
    border: 2px solid var(--brokenWhite);
}
.topnav {
    display: none;
}
/* -----------------MAIN----------- */
main {
    display:flex;
    width: var(--containerWidth);
    margin: 3rem auto; 
}
.hero-container {
    width: 50%;
    margin: 0;
}
main  h1 {
    width: 80%;
    margin: 0 0 1rem 0;
}
main h1 + button {
    background-color: var(--accentColour);
    color: var(--brokenWhite);
    border: none;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.5s;
    }
main h1 + button:hover {
    color: var(--grey);
}
.hero-sub{
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0 0;
    width: 90%;
}
.hero-sub h3 {
    margin: 0 0 1rem 0;
    display: inline;
    
}
.main-img {
    width: 45rem;
}

/* -------------IMAGE COMPARE------------- */
#img-compare {
    margin: 8rem auto 5rem;
    display: flex;
    width: var(--containerWidth);   
}
.second-hero {
    /* margin: 0; */
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;    
}
.worker-container {
    display: flex;    
    align-items: center;   
    margin: 0 0 2rem;
    width: 90%;    
    background: var(--accentColour);
    color: var(--brokenWhite);
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px; 
}
.tag-img {
    width: 100%;
    margin: 0 0 3rem;
    text-align: right; 
    font-weight: 500;  
    color: var(--accentColour); 
   }
.worker-img {
    width: 6rem;
    float: right;
}

.worker-container > p {
    width: 60%;
}

.img-comp-container {   
   position: relative;
   height: 28rem; /*should be the same height as the images*/
   width: 30vw;
   border-radius: 0.5rem;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;   
   }        
   .img-comp-img {
   position: absolute;        
   overflow: hidden;
   border-radius: 0.5rem; 
   
   }       
   .img-comp-overlay {
   object-position: left 60% top 20%;

   } 
   .img-comp-img img {
   display: block;
   /* vertical-align: middle; */
   object-fit: cover;            
   height: 28rem;
   width: 30vw;
   }            
   .img-comp-slider {
   position: absolute;
   z-index: 9;
   cursor: ew-resize;
   /*set the appearance of the slider:*/
   width: 40px;
   height: 40px;
   background-color: var(--accentColour);
   opacity: 0.7;
   border-radius: 50%;
   } 

/* ------------CARDS------------- */
#services {
    margin: 3em auto; 
    padding: 2rem 0 3rem 0;    
    background-color: var(--accentColour);    
}
.card-container {
    display: flex;
    justify-content: center;
    gap: 2em; 
    width: var(--containerWidth); 
}
.services-subheading {
    display: flex;
    justify-content: center;
    margin: 0 0 3rem 0;   
    letter-spacing: 4px;
   
}
.clear-heading{
    color: var(--brokenWhite);
   
}
.card-container > * {
    flex: 1;
    padding: 2rem 1rem 1rem;
    border-radius: 0.5rem;   
    margin: 0 auto;
    
}
.card {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: var(--brokenWhite);
    
}
.card > * {
    margin: 0.5rem 0; 
}
.card > img {
    width: 6rem;
    align-self: center;
    margin: 0 auto;    
}
/* SLIDE SHOW */
.container { 
    width: var(--containerWidth);
    margin: 3rem auto;
}
.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.5rem;
}
.gallery-img {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
  max-width: 15rem;
  max-height: 15rem;
  object-fit: cover; 
}
.gallery-img:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}
@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}
/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
.container:last-of-type {
    background-color: var(--accentColour);
}

/* --------STEPS---------- */
#steps {
    padding: 2rem 0 3rem 0;    
    background-color: var(--accentColour); 
}
.card-step {
    display: flex;
    flex-direction: column;
    color: var(--brokenWhite);
    text-align: center;
    gap: 2rem;
}
.card-step > h3 {
    font-weight: 500;
}
.card-step > p {  
    font-weight: 300;
}
.fa-circle-1 {
    font-size: 4rem;
    color: var(--brokenWhite);
}
.card-step > img {
    width: 6rem;
    align-self: center;
    margin: 0 auto;    
}
.bold-word {
    font-weight: 500;
    font-size: 1.2rem;
}

 /* ------Call to Action------ */
 #call-to-action {
    margin: 3em auto; 
}
 .cta-container {
    display: flex;
    flex-direction: column;
    padding: 2rem 0 3rem 0;
    width: var(--containerWidth);
    background-image: url(/resources/images/workers.png);
    background-repeat: no-repeat;
    background-color: #ffc61b;
    border-radius: 0.5rem; 
    position: relative;
    background-position-x: 0;
    background-position-y: 110%;
    
    background-size: 15rem;
 }
 .cta-heading {
    display: flex;
    justify-content: center;
    margin: 0 0 3rem 0;   
    letter-spacing: 4px;
 }
 .cta-subcontainer {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
 }
 .cta-subcontainer button {
    background-color: var(--accentColour);
    /* border: 2px solid var(--accentColour); */
    border: none;
    color: var(--brokenWhite);
    padding: 0.8rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.2s; 
    font-size: 1.2rem;
    letter-spacing: 1px;
    z-index: 20;
    /* position: absolute; */
    bottom: 4.5rem;
    left: 9rem;    
 }
 .cta-subcontainer button:hover { 
    color: var(--grey);   
 }
 .cta-subheading {
    font-weight: 500;
    width: 20rem;
 }
 .tel-num {
    font-size: 2rem;
    color: var(--brokenWhite)
 }
 .cta-whatsapp {
    background-color: #3AC371;
    padding: 1rem;
    border-radius: 0.5rem;
    align-self: baseline;
    position: relative;
 }
 .cta-img > img {
    width: 10rem;
    position: absolute;
    bottom: -0.3rem;
    left: 0;
}
.whats-img > img {
    width: 6rem;
    position:absolute;
    top: -2rem;
    right: -3rem;
}


/* FOOTER */
footer {
    /* height: 14rem; */
    background-color: var(--grey);
    bottom: 0;
    padding: 0 0 1rem 0;
    
}
.contact-footer-container {
    margin: 2rem 0 0;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start;
    align-content: center; */
    color: var(--accentColour);    
}
.footer-logo {
    /* margin: 0.5rem 2rem; */
}
.contact-footer {
    margin: 1.5rem 2rem;    
    letter-spacing: 2px;    
    padding-bottom: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.contact-footer > h4 {
    border-bottom: 1px solid var(--accentColour);
    font-weight: 300;
    margin: 0 0 1rem;
}
.contact-option {    
    font-weight: 300;    
    display: flex;
    margin: 0 0 0.5rem;    
    align-items: center;       
}
.contact-option > p {
    font-size: 0.9rem;

}
.contact-option > i {
    font-size: 1rem;
}
.address {
    font-weight: 200;
    font-size: 0.9rem;
    margin: 0.5rem 0.1rem;
    width: 15rem;
}
#copyright {
    font-weight: 200;
    font-size: 1rem;
}
@media (max-width: 1214px) {
    main {
        flex-direction: column;
        align-items: center;
    }
    .hero-container {
        width: 100%;
    }
    .hero-img {      
        margin: 0 0 0 -2rem;        
    }   
    .main-img {
        width: 70vw;       
    }
    /* .cta-heading {
        margin: 0 0 3rem 0;
    }
    .cta-subcontainer{
        flex-direction: column-reverse;
        gap: 2rem;

    } */
}

@media (max-width: 766px) {
    :root {
      --containerWidth: 90vw;
     }

     .nav-links {
        display: none !important;
     }
     /* ------BURGUER MENU------- */
     .topnav {
        overflow: hidden;
        background-color: var(--grey);
        position: relative;
        display: block;
        align-self: center;
      }
      
      /* Hide the links inside the navigation menu (except for logo/home) */
      .topnav #myLinks {
        display: none;

      }      
      /* Style navigation menu links */
      .topnav a {
        color: var(--accentColour);
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      } 
      .burguer-links > a {
        color: var(--accentColour);
        background-color: var(--grey);
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }     
      .burguer-links{
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
        text-align: center;
      }
      /* Style the hamburger menu */
      .topnav a.icon {
        background: var(--grey);
        display: block;
        position: absolute;
        right: 0;
        top: 0.2rem;
      }
      .icon i {
        font-size: 2rem;
      }      
      /* Add a grey background color on mouse-over */
      .topnav a:hover {        
        color: var(--brokenWhite);
      }      
      /* Style the active link (or home/logo) */
      .active {
        /* background-color: var(--grey); */
        /* color: white; */
      }

    /* -----MAIN------ */
    main {
        flex-direction: column;
        align-items: center;
    }
    main h1 {
        width: 100%;
    }
   
    .hero-container {
        width: 100%;
    }
    .services-subheading {
        text-align: center !important;
        letter-spacing: 0;
    }
    .gallery-container {
        --containerWidth: 100vw;        
    }
    #img-compare {
        flex-direction: column;
        align-items: center;
    }
    .second-hero {
        width: 80vw;
    }
    .tag-img {
        text-align: center;
        order: 2;
    }
    .worker-container {
        width: 100%;
    }
    .img-comp-container {
        width: 80vw;
    }
    .img-comp-img img {
        width: 80vw;
    }
    .card-container {        
        flex-direction: column;       
    }
    /* ------ GALLERY SMALLER ICONS --------- */
    .gallery-img {
        max-width: 13rem;
        max-height: 13rem;        
    }
    .cta-heading {
        text-align: center !important;
    }

  }  
  /* @media (min-width: 766px) {
    .hero-container {
        width: 50%;
    }
  } */
